.journal-item {
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.03);
    color: #fff;
    padding: 20px;
}
.journal-item__header,
.journal-item__body {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}
.journal-item__body {
    display: flex;
    gap: 10px;
}
.journal-item__date,
.journal-item__text {    
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.journal-item__date {
    color: rgba(255, 255, 255, 0.4);
}
.journal-item__text {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

